body{
  /* --border: 1px solid; */
}
header{
  width: 1440px;
  height: 612px;
  border: var(--border);
  margin: 0 auto;
}
nav{
  display: flex;
  width: 1440px;
  height: 76px;
  background-color: #FFF;
  border: var(--border);
}
.list1{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 344px;
  height: 100%;
  border: var(--border);
}
.nav-list1{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 274px;
  height: 44px;
  border: var(--border);
}
.nav-list-li{
  color: var(--black, #000);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.nav-list-li:hover{
  color: rgb(243, 12, 0);
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
  flex-shrink: 0;
  border: var(--border);
}
.list2{
  display: flex;
  width: 320px;
  height: 100%;
  border: var(--border);
}
.nav-list2{
  display: flex;
  width: 265px;
  height: 44px;
  border: var(--border);
}
.nav-button1{
  width: 102px;
  height: 44px;
  border: 1px solid white;
  background-color: white;
}
.nav-button2{
  width: 92px;
  height: 44px;
  border: 1px solid white;
  background-color: white;
}
.nav-button1:hover{
  border-radius: 15px;
  color: #ffffff;
  background-color: #4c4c4c;
}
.nav-button2:hover{
  border-radius: 15px;
  color: #ffffff;
  background-color: #4c4c4c;
}

.hero{
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 574px;
  background-image: url(./images/Group\ 1.png);
  background-size: 1400px 800px;
  background-position-y: -120px;
  background-position-x: 35px;
}
.hero-h1{
  margin-top: 50px;
  color: var(--black, #000);
  text-align: center;
  text-shadow: -5px 5px 0px 0px #FFF;
  font-family: 'Syne';
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; 
}
.paragraph{
  color: var(--accent, #532C59);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.hero-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: 670px;
  width: 114px;
  height: 52px;
  border-radius: 15px;
  background-color: #532C59;
}
.hero-b-p{
  color: var(--white, #FFF);
  font-family: 'Syne';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.hero-button:hover{
  background-color: #944a9f;
}
/* header end  */


main{
  width: 1440px;
  height: 5748px;
  margin: 0 auto;
}
.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 120px;
}
.section1-1{
  display: flex;
  width: 1300px;
  height: 40px;
}
.section1-1-logo-img{
  margin-left: 40px;
}


.features{
  align-items: center;
  width: 1440px;
  height: 2075px;
}
.features-h2{
  color: var(--black, #000);
  text-align: center;
  font-family: 'Syne';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.features-p{
  color: var(--accent, #532C59);
  text-align: center;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.features1{
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 548px;
}
